body{
  margin:0;
  font-family:Arial;
  background:#f5f7ff;
  direction:rtl;
}

header{
  background:#1e3a8a;
  color:white;
  text-align:center;
  padding:20px;
}

nav{
  background:#0f172a;
  text-align:center;
  padding:10px;
}

nav a{
  color:white;
  text-decoration:none;
  margin:10px;
}

section{
  background:white;
  margin:15px;
  padding:15px;
  border-radius:10px;
}

input{
  width:100%;
  padding:10px;
  margin:5px 0;
}

button{
  width:100%;
  padding:12px;
  background:#22c55e;
  border:none;
  color:white;
  font-weight:bold;
  border-radius:8px;
}

footer{
  text-align:center;
  padding:15px;
}
